## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [11]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [93]:
# Your code here
import random
list1=list(range(1,100))
sample_list_1 = random.sample(list1,k=80)
print (sample_list_1)

[33, 37, 36, 21, 93, 15, 57, 64, 77, 51, 23, 89, 44, 99, 60, 98, 59, 1, 49, 90, 3, 78, 41, 71, 54, 2, 26, 43, 14, 65, 91, 92, 7, 17, 66, 87, 52, 16, 70, 61, 96, 31, 24, 55, 45, 69, 84, 82, 4, 5, 62, 56, 8, 9, 94, 53, 72, 34, 25, 58, 95, 81, 97, 13, 40, 19, 32, 83, 11, 42, 79, 74, 86, 67, 47, 35, 63, 27, 18, 68]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [94]:
# Your code here
set1=set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [68]:
# Your code here
import random
for i in range(80):
    sample_list_2 = random.randrange(1,100)
    print ((sample_list_2),end=" ")

84 75 15 59 2 23 39 38 36 37 92 82 91 6 99 16 1 86 15 29 18 45 94 67 84 47 3 56 96 7 77 57 44 64 53 64 16 9 6 66 55 72 48 78 80 80 1 79 79 37 72 70 8 10 12 35 76 90 43 56 12 84 68 37 8 49 23 36 5 59 64 84 33 52 97 6 91 16 71 37

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [77]:
# Your code here
sample_list_2=(84, 75, 15, 59, 2, 23, 39, 38, 36, 37, 92, 82, 91, 6, 99, 16, 1, 86, 15, 29, 18, 45,
               94, 67, 84, 47, 3, 56, 96, 7, 77, 57, 44, 64, 53, 64, 16, 9, 6, 66, 55, 72, 48, 78,
               80, 80, 1, 79, 79, 37, 72, 70, 8, 10, 12, 35, 76, 90, 43, 56, 12, 84, 68, 37, 8, 49,
               23, 36, 5, 59, 64, 84, 33, 52, 97, 6, 91, 16, 71, 37)
set2=set(sample_list_2)
print (len(sample_list_2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [96]:
# Your code here
set1={33, 37, 36, 21, 93, 15, 57, 64, 77, 51, 23, 89, 44, 99, 60, 98, 59, 1, 49, 90, 3, 78, 41, 71,
      54, 2, 26, 43, 14, 65, 91, 92, 7, 17, 66, 87, 52, 16, 70, 61, 96, 31, 24, 55, 45, 69, 84, 82,
      4, 5, 62, 56, 8, 9, 94, 53, 72, 34, 25, 58, 95, 81, 97, 13, 40, 19, 32, 83, 11, 42, 79, 74, 86,
      67, 47, 35, 63, 27, 18, 68}
set2={84, 75, 15, 59, 2, 23, 39, 38, 36, 37, 92, 82, 91, 6, 99, 16, 1, 86, 15, 29, 18, 45, 94, 67, 
      84, 47, 3, 56, 96, 7, 77, 57, 44, 64, 53, 64, 16, 9, 6, 66, 55, 72, 48, 78, 80, 80, 1, 79, 79,
      37, 72, 70, 8, 10, 12, 35, 76, 90, 43, 56, 12, 84, 68, 37, 8, 49, 23, 36, 5, 59, 64, 84, 33, 52,
      97, 6, 91, 16, 71, 37}
set3=(set1.difference(set2))
print (set1.difference(set2))

{4, 11, 13, 14, 17, 19, 21, 24, 25, 26, 27, 31, 32, 34, 40, 41, 42, 51, 54, 58, 60, 61, 62, 63, 65, 69, 74, 81, 83, 87, 89, 93, 95, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [97]:
# Your code here
set4=(set2.difference(set1))
print (set4)

{38, 6, 39, 10, 75, 12, 76, 48, 80, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [102]:
# Your code here
set5=set1 & set2
print (set5)

{1, 2, 3, 5, 7, 8, 9, 15, 16, 18, 23, 33, 35, 36, 37, 43, 44, 45, 47, 49, 52, 53, 55, 56, 57, 59, 64, 66, 67, 68, 70, 71, 72, 77, 78, 79, 82, 84, 86, 90, 91, 92, 94, 96, 97, 99}

set

### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [118]:
# Your code here 
# cuando se comparan las diferencias el resultado siempre es menor a cuando se comparan las igualdades
if (len(set3))<(len(set5)):
    print ("las diferencias son menos que las igualdades")
elif (len(set4))<(len(set5)):
    print ("las diferencias son menos que las igualdades")
else:
    print ("las igualdades son mas que las diferencias")

las diferencias son menos que las igualdades
80
56
34
10
46

#### Create an empty set called `set6`.

In [101]:
# Your code here
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [119]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [120]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [123]:
# Your code here
set1.issubset(set2),set1.issubset(set3)

(False, False)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [127]:
# Your code here
igualdad1=set3 | set4 | set5 
igualdad2=set1 | set2
igualdad1==igualdad2

True

#### Using the `pop` method, remove the first element from `set1`.

In [134]:
# Your code here
set1=[33, 37, 36, 21, 93, 15, 57, 64, 77, 51, 23, 89, 44, 99, 60, 98, 59, 1, 49, 90, 3, 78, 41, 71,
      54, 2, 26, 43, 14, 65, 91, 92, 7, 17, 66, 87, 52, 16, 70, 61, 96, 31, 24, 55, 45, 69, 84, 82,
      4, 5, 62, 56, 8, 9, 94, 53, 72, 34, 25, 58, 95, 81, 97, 13, 40, 19, 32, 83, 11, 42, 79, 74, 86,
      67, 47, 35, 63, 27, 18, 68]
set1.pop(0)
print (set1)

[37, 36, 21, 93, 15, 57, 64, 77, 51, 23, 89, 44, 99, 60, 98, 59, 1, 49, 90, 3, 78, 41, 71, 54, 2, 26, 43, 14, 65, 91, 92, 7, 17, 66, 87, 52, 16, 70, 61, 96, 31, 24, 55, 45, 69, 84, 82, 4, 5, 62, 56, 8, 9, 94, 53, 72, 34, 25, 58, 95, 81, 97, 13, 40, 19, 32, 83, 11, 42, 79, 74, 86, 67, 47, 35, 63, 27, 18, 68]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [138]:
# Your code here
del set1(1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99)
print (set1)

SyntaxError: can't delete function call (<ipython-input-138-e414f64924d9>, line 2)